*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #9B6AE6;
    color: white;
    padding-top: 15px;
}

h1{
    margin-left: 10px;
}

.nav{
    background-color: #7D31B0;
}

.nav-link{
    color: white;
}

input{
    width: 300px;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
    margin-left: 700px;
}

main{
    width: 70%;
    height:auto;
    float: left;
    margin-left: 7px;
}
aside{
    width: 30%;
    height: auto;
    float: right;
    background-color: aqua;
}
.prop{
    height: 100px;
    width: 860px;
    background-color: red;
    margin-bottom: 20px;
}
.prop p{
    text-align: center;
    padding-top: 40px;
    margin-left: 0px;
    color: white;
}

footer{
    background-color: #9B6AE6;
    color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    
}

footer a{
    color: #fff;
}

footer img{
    height: 100px;
    width: 170px;
}
footer div{
    margin-left: 20px;

}
/*Inicio CSS CATEGORIAS*/
.assuntos{
    width: 70%;
    height: 100%;
    

}
.box-artigos{
    display: block;
    background-color: #7D31B0;
}
.img-x{
    width: 140px;
    float: left;
    height: 140px;
}
.assuntos h3{
    width: 60%;
    clear: both;
    float: left;
}
.assuntos p{
    width: 60%;
    clear: both;
}
p{
    display: flex;
}
/*FIM CSS CATEGORIAS*/

