* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
#titulo{
    font-size: 30px;
    margin-right: 19px;
}
#icon{
    font-size: 18px;
    margin-top: 6px;
    margin-right: 13px;
    
}
.d-flex{
    margin-left: 0%;
}

#a-pesquisa{
    color: #000000;
    border-color: #ff6699;
    width: 22vw;
    margin-left: 0%;
}
#botao{
    border-color: #ff6699;
    height: 7vh;
    margin-top: 20px;
    margin-left: 0%;
    color: #000000;
    background-image: linear-gradient(to bottom, rgb(255, 3, 3), rgb(255 140 0) 15%, rgb(255, 237, 0), rgb(16, 192, 16),rgb(0, 0, 255), rgb(133, 20, 219) );
  
}

header a{
    color: white!important;
}

/* HEADER END */

/* MAIN */
    h1{
        margin-top: 20px;
    }
    .col-lg-8-home{
        height: auto;
        width: 64%;
        margin: 1%;
    }
    .col-lg-8{
        height: auto;
        width: 64%;
        margin: 1%;
    }
    .col-lg-8-home h1{
        font-weight: 600;
    }
    .col-lg-8-home a{
        text-decoration: none;
        color: black    ;
    }
    #propagandadestaques{
        background-color: red;
        width: 100%;
        height: 180px;
    }
    .populares{
        width: 100%;
        height: 180px;
        margin-top: 20px;
        background-color: #62B4E6;
        display: flex;
    }
    .destaques-home{
        width: 100%;
        height: 180px;
        margin-top: 20px;
        background-color: #62B4E6;
        display: flex;
    }
    .imgdestaquesdiv{
        width: 35%;
        height: 90%;
        margin-left: 10px;
        margin-top: 10px;
        background-color: #FEA233;
        display: flex;
    }
    .imgdestaque{
        width: 100%;
        height: 100%;
    }
    .textosdestaque{
        width: 61%;
        height: 90%;
        margin: 10px;
       
    }
    .textosdestaque a{
         text-decoration: none;
         color: black;
    }
    .textosdestaque h4{
        font-weight: 600;
    }
/* MAIN END */

/* LIVROS e VIDEOS START */
    #livrosrec{
        background-color: #4167ba;
        height: 300px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #livrosrec h2{
        margin-top: 5px;
        color: white;
    }
    .livros{
        width: 150px;
        height: 80%;
        margin-top: 8px;
        margin-left: 20px; 
    } 
    .videos{
        width: 280px;
        height: 75%;
        margin-top: 8px; 
        margin-left: 60px;

    }
    .nomeescritor{
        margin-top: 2px;
        color: white;
    }
    .nomesvideo{
        margin-top: 2px;
        color: white;
    }

/* LIVROS e VIDEOS END */

/* ASIDE */
    .col-lg-4{
        width: 32%;
        height: 650px;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 1%;
    }

/* ASIDE */
    .col-lg-4-home{
        width: 32%;
        height: 836px;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 1%;
    }
    .bandeiracarimg{
        width: 100%;
        height: 200px;
    }
    .charge{
        width: 100%;
        height: 58%;
        margin-top: 10px;
    }
    #artsitasaside{
        width: 100%;
        height: 30%;
        bottom: 180px;
        position: relative;
    }    
    .list-group-item{
        width: 250px;
        height: 160px;
        margin: 0;
        padding: 0;
        border: none;
    }
    .imgartista{
        width: 170px;
        height: 150px;
        padding: 0;
        margin: 0;
        border: none;
    }
    .propaganda{
        width: 100%;
        height: 45%;
        margin-top: px;
        background-color: red;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 23px;
        font-weight: bold;
    }
    #popularess{
        width: 100%;
        height: 5%;
        bottom: 10px;
        position: relative;
    }
    .maispopulares{
        width: 100%;
        height: 52.5%;
        bottom: -20vh;
        background-color: #62B4E6;
        color: #fff;
        text-indent: 8px;
        line-height: 38px;
        font-size: 17px;
        display: block;
    }
    .pa{
        width: 100%;
        height: 7vh;
        background-color: #4167ba;
        font-size: 22px;
        font-weight: bold;
        text-indent: 20px;
        text-decoration: none;
        color: #fff;
    }
    ul li a{
        text-decoration: none;
        color: white;
    }


/* ASIDE END */
input{
    width: 300px;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
    margin-left: 700px;
}

/*INICIO CSS PAG ARTIGOS*/
    .col-lg-12{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    #sectionartigos{
        width: 80%;
        height: auto;
        position: relative;
        left:10%;
        margin-top: 40px;
        text-align: justify;
    }

    #h1tituloartigo{
        text-align: center;
        font-size: 9vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    #h5subtitulo{
        padding-top: 10px;
        text-align: center;
        font-size: 3vh;
    }
    #NomeData{
        padding-top: 10px;
        font-size: 15px;
        text-align: center;
        opacity: 80%;
    }
    .imgcompartilhar{
        width: 20px;
        align-content: center;
    }
    .imgartigos{
        height: 300px;
        margin-top: 15px;
    }
    #artigop{
        margin-top: 40px;
        text-indent: 50px;
        font-size: 2.5vh;
    }
    #artigorelacionado{
        width: 96%;
        height: auto;
        position: relative;
        left:2%;
        margin-top: 100px;
        display: flex;
    }
    #reacionadosartigo{
        width: 49%;
        height: auto;
        margin-right: 2%;
        float: left;
    }
    #propagandaartigo{
        width: 49%;
        height: 380px;
        float: left;
        background-color: red;
    }
    #h2relac{
        margin-bottom: 3%;
    }
    #relacionadoquadradoc1{
        background-color: #62B4E6;
        width: 48%;
        margin-right: 4%;
        height: 150px;
        margin-bottom: 4%;
        float: left;
        background-image: url();
    }   
    #relacionadoquadradoc2{
        background-color: #62B4E6;
        width: 48%;
        height: 150px;
        float: left;
    }
    #relacionadoquadradob1{
        background-color: #62B4E6;
        width: 48%;
        margin-right: 4%;
        height: 150px;
        float: left;
    }
    #relacionadoquadradob2{
        background-color: #62B4E6;
        width: 48%;
        height: 150px;
        float: left;
    }      
    .propartigo{
        height: 382px;
        width: 100%;
    }
    .h5rel{
        padding: 15px;
    }
    #sobre{
        background-color: #4167ba;
        height: 320px;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 100px;
        display: flex;
    }
    .h2rec{
        padding-left: 9vh;
        padding-top: 2.5vh;
        font-size: 3;
        color: white;
    }
    #sp1{
        width: 33.3%;
        height: 100%;
    }
    #sp2{
        width: 33.3%;
        height: 100%;
    }
    #sp3{
        width: 33.3%;
        height: 100%;
    }
    #vid1{
        height: 58%;
        width: 80%;
        margin: 40px;
        margin-top: 77px;
        margin-bottom: 10px;
        background-image: url();
        background-color: #FEA233;
    }
    #vid2{
        height: 58%;
        width: 80%;
        margin: 40px;
        margin-top: 23px;
        margin-bottom: 5px;
        background-image: url();
        background-color: #FEA233;
    }
    #vid3{
        height: 58%;
        width: 80%;
        margin: 40px;
        margin-top: 77px;
        margin-bottom: 10px;
        background-image: url();
        background-color: #FEA233;
    }
    .h5sobre{
        color: white;
        font-size: 2.2vh;
        text-align: center;
    }
    #vid{
        width: 100%;
        height: 100%;
    }
    /*FIM CSS PAG ARTIGOS*/

    

nav {
    padding: 0 !important;
}

header {
    background-color: #9B6AE6;
}

.navbar-brand {
    margin-right: 1%;
}

header form {
    margin-left: 60%;
}

header input {
    margin-right: 2%;
}

header a {
    color: #ffffff !important;
}

.btn {
    background-color: #ffffff;
}

.nav-text {
    color: #ffffff !important;
}

main {
    width: 50%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 7px;
}

main h3 {
    margin-top: 5px;
}

.prop {
    height: 100px;
    width: 859px;
    background-color: red;
    float: left;
}

.prop p {
    text-align: center;
    padding-top: 40px;
    margin-left: 0px;
    color: white;
}

.card-body {
    background-color: rgb(98, 179, 230);
}

.col-md-4 {
    background-color: rgb(98, 179, 230);
}

.col-md-4 img {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.card-mb-3 {
    float: left;
    margin-top: 5px;
    width: 136%;
}

.card00 {
    float: left;
    width: 100%;
}

/* ASIDE */

#carrossel {
    margin-top: 55px;
}

#charges.carousel.slide {
    margin-top: 10px;
}

/* FOOTER */

    footer {
        background-color: #9B6AE6;
        color: #fff;
        display: grid;
    }

    footer ul {
        margin-left: 20px;
        grid-column: 1/2;
    }

    footer img {
        margin-left: 20px;
        grid-column: 2/3;
    }

    footer li {
        list-style: none;
    }

    footer a {
        color: white;
    }

    footer img {
        width: 170px;
        height: 100px;
    }
footer {
    background-color: #9B6AE6;
    color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}


.flag-div {
    background-color: #ff6699;
    height: 150px;
    margin-bottom: 10px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-left: -40px;
}

.titulo-flag{
    margin-top: 10px;
    font-weight: 800;
}
.legend{
    font-size: 13px;
    color: gray;
}
.plink{
    color: #000000;
    
}
.ing{
    margin-top: 60px;
    zoom:60%;
}
.ingg{
    margin-top: 60px;
}
.font{
    margin-bottom: 10px;
    color: gray;
}
.font1{
    margin-top: 50px;
    color: gray;
}